<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>thesolar.website</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <style>
        .main h1, .main h2 {
        text-align: center
        }
        .main table {
            margin: auto
             }
        table {
              border-collapse: collapse
              }
        td {
        padding-right: 20px;
        text-align: right ;
        border: 1px black solid;
        border-collapse: collapse
        }
    </style>
</head>
<body>
<div class="main">

<h1>Power generation results using a 30W solar panel facing North in the city of Berlin </h1>
<h2>Under development</h2>
<table>
        <tr>
        <td>Time Stamp</td>
        <td>Voltage (V)</td>
        <td>Current (mA)</td>
        <td>Power (mW)</td>
        <td>Battery V</td>
    </tr>
{% for result in results %}
    <tr>
        <td>{{result.created_at|date:'D. d M Y - H:i:s'}}</td>
        <td>{{result.bus_voltage_V}}</td>
        <td>{{result.current_mA}}</td>
        <td>{{result.power_mW}}</td>
        <td>{{result.battery_voltage}}</td>
    </tr>

    {% endfor %}


</table>
    </div>
</body>
</html>
