<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>thesolar.website</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="{% static 'moment.min.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
  </head>
  <body>
    <div class="main">
      <h1>The Solar Website</h1>
      <h2>Under development</h2>
      <div class="introduction">
        <h3 class="introduction-title">Welcome</h3>
        <p>
          This website is running in a Raspberry pi Model 3b and it's hosting a
          Django server. It also has its own internet, using a SIM card.
        </p>
        <p>
          Everything is powered with a solar panel, so it will be online as long
          as there is sun and mobile signal.
        </p>
      </div>

      <!-- Under Development -->

      <div class="development">
        <details>
          <summary class="development-title">
            Currently under development
            <span class="development-title-click">(Click me)</span>
          </summary>
          <p>
            This project is currently under development and in testing phase.
          </p>
          <h4>Current challenges:</h4>
          <div class="challenges">
            <div class="challenge-point">
              <div class="challenge-point-title">Face the south</div>
              <div>
                The server only works if it faces south during all sun hours.
                Currently that's not possible due to personal situation (my
                windows face north).
              </div>

              <div>
                I can only set the device facing south when in certain
                situations. That's why the web is mostly offline.This situation
                should change in early April.
              </div>
            </div>
            <div class="challenge-point">
              <div class="challenge-point-title">Power consumption</div>
              <div>
                The Raspberry Pi 3 Model b requires a lot of power for the
                current battery and it only lasts 01 day without sunlight. I'll
                buy bigger batteries.
              </div>
            </div>
            <div class="challenge-point">
              <div class="challenge-point-title">Process power</div>
              <div>
                If I use a Raspberry Pi Zero W, it lasts around 5 days with the
                current battery, but the process power is barelly enough for the
                Django server.
              </div>
            </div>

            <div class="challenge-point">
              <div class="challenge-point-title">
                Limited knowledge about electronics
              </div>
              <div>
                This project is not only to power a server just with the sun,
                but to track it's power generation and consuption, to understand
                better the capabilities of green energy and limitations of small
                computers.
              </div>
              <div>
                I'm a programmer and have little knowledge about electronics, I
                learn by doing. It means that I can be wrong and not all what
                you see here is 100% reliable. Also, in many ocasions I need
                time to figure out what's not working and solve it.
              </div>
            </div>
          </div>
        </details>
      </div>

      <div class="content">
        <!-- Chart  -->
        <div class="chartContainer">
          <h3>Battery level</h3>
          <div class="chart-container-text">
            The following graph shows the Voltage present in the cirquit. It
            could be generated by the 12V battery when there's no sun or, when
            there is sun, the battery plus the solar panel (up to 18V).
          </div>

          <div class="chart-container-text">
            The battery is considered charged when it is over 13.80V and
            discharged when the voltage drops to 11.6V.
          </div>
          <div class="chart-container-text">
            The data is collected with an INA219 connected to the I2C ports of
            the Raspi.
          </div>

          <canvas id="chart"></canvas>

          <div class="chart-container-text">
            When the current is positive, the energy flow out of the battery
            (discharge), when it's negative, it flows inside the battery
            (charge).
          </div>
        </div>

        <div class="table-section">
          <h3 class="tableSectionTitle">Measurements</h3>
          <p>
            These are the measurements taken by the INA219 every 5 minutes or
            when the page is reloaded.
          </p>

          {%if error_reading %}
          <p class="error_reading">
            There has been an error trying to read the last result
          </p>
          {% endif %}

          <div class="table-container">
            <table id="resultsTable"></table>
          </div>
        </div>

        <div class="hat-section">
          <h3 class="hat-section-title">
            The Solar Website in Hack And Tell (Berlin)
          </h3>
          <p>
            I am super happy to share that this project was in the
            <a href="https://berlinhackandtell.rocks/2023-02-28-no86-hackgpt"
              >#86th edition of the Hack And Tell</a
            >
            event and the public elected the project as Hack of The Month.
          </p>

          <div class="gallery-wrapper">
            <div class="carousel" tabindex="0">
              <div class="slide">
                <a href="#item-4">Slide 4</a>
                <img id="item-1" src="{% static 'hat/4.webp' %}" alt="" />
                <a href="#item-2">Slide 2</a>
              </div>
              <div class="slide">
                <a href="#item-1">Slide 1</a>
                <img id="item-2" src="{% static 'hat/5.webp' %}" alt="" />
                <a href="#item-3">Slide 3</a>
              </div>
              <div class="slide">
                <a href="#item-2">Slide 2</a>
                <img id="item-3" src="{% static 'hat/6.webp' %}" alt="" />
                <a href="#item-4">Slide 4</a>
              </div>
              <div class="slide">
                <a href="#item-3">Slide 3</a>
                <img id="item-4" src="{% static 'hat/12.webp' %}" alt="" />
                <a href="#item-5">Slide 1</a>
              </div>
              <div class="slide">
                <a href="#item-4">Slide 3</a>
                <img id="item-5" src="{% static 'hat/3.webp' %}" alt="" />
                <a href="#item-1">Slide 1</a>
              </div>
            </div>
            <nav class="carousel__nav">
              <ul>
                <li>
                  <a href="#item-1" aria-label="Item 1">
                    <svg viewBox="0 0 10 10" width="1em">
                      <circle cx="5" cy="5" r="5" fill="#fff" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#item-2" aria-label="Item 2">
                    <svg viewBox="0 0 10 10" width="1em">
                      <circle cx="5" cy="5" r="5" fill="#fff" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#item-3" aria-label="Item 3">
                    <svg viewBox="0 0 10 10" width="1em">
                      <circle cx="5" cy="5" r="5" fill="#fff" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#item-4" aria-label="Item 4">
                    <svg viewBox="0 0 10 10" width="1em">
                      <circle cx="5" cy="5" r="5" fill="#fff" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#item-5" aria-label="Item 5">
                    <svg viewBox="0 0 10 10" width="1em">
                      <circle cx="5" cy="5" r="5" fill="#fff" />
                    </svg>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="roadmapSection">
          <h3>Roadmap and future development</h3>
          <p>
            The project is entirely depeloped during free time and as a hobby.
            Future things to be done, not necessarily in this order:
          </p>

          <ul>
            <li class="text-crossed">
              Keep track of Raspberry pi power consumption
            </li>
            <li>
              <span class="text-crossed">
                Weld properly the different cirquits (now everything lays in a
                breadboad)</span
              >
              <span class="normal-text"
                >Actually I will not need anything else than the Raspi</span
              >
            </li>

            <li>Improve webpage design</li>
            <li>Document how to replicate the project</li>
            <li>Make a list of components</li>
          </ul>

          <p>
            For any comment or suggestion, please contact me in my LinkedIn
            account:
            <a href="https://www.linkedin.com/in/alvaro-canas/?locale=en_US">
              Alvaro-c</a
            >
          </p>

          <p>
            Code available in
            <a href="https://github.com/Alvaro-c/thesolar.website">GitHub</a>.
            Bear in mind that it's still under development.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
