.main h1,
.main h2 {
  text-align: center;
}
.main h2 {
  font-style: italic;
}

.inroduction {
  text-align: center;
}

.main table {
  margin: 10px auto;
}
table {
  border-collapse: collapse;
}
td {
  padding-right: 20px;
  text-align: right;
  border: 1px black solid;
  border-collapse: collapse;
}

.chartContainer {
  margin: auto;
  width: 70%;
  height: 300px;
  align-items: flex-start;
  padding-bottom: 150px;
}

.content {
  display: block;
}

.tableContainer,
.roadmapSection {
  margin: 50px auto;
  width: 70%;
}

.error_reading {
  padding-top: 10px;
  color: red;
  text-align: center;
}
